{%- if site.show-style-guide %}

<div class="kleurvlak">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 text-footer">
                <h2>Soccer Shoe Rent</h2>
                <a href="#" class="text">Verkoopsvoorwaarden</a>
                <a href="https://www.arteveldehogeschool.be/disclaimer" class="text">Disclaimer</a>
            </div>
            <div class="col-md-3 col-xs-12 text-footer">
                <h2>Mapsite</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="./index.html" class="text">Home</a>
                    </li>
                    <li>
                        <a href="./product.html" class="text">Product</a>
                    </li>
                    <li>
                        <a href="./overons.html" class="text">Over ons</a>
                    </li>
                    <li>
                        <a href="./contact.html" class="text">Contact</a> 
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 text-footer">
                <h2 class="mb-4">Contact</h2>
                <a href="tel: 0494897658" class="text">0494 89 76 58</a>
                <a href="mailto:info@soccershoerent.com" class="text">info@soccershoerent.com</a>
                <a href="https://www.google.it/maps/place/Spiegelhofstraat,+9000+Gent/@51.0532145,3.7012822,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3716de039bb69:0xf685d61aac77b635!8m2!3d51.0532111!4d3.7034709?hl=it" class="text" target="_blank">Spiegelhofstraat 42, Gent</a>
            </div>
            <div class="col-md-3 col-xs-12 text-footer">
                <h2>Volg ons</h2>
                

                <div class="socialmedia">
                    <div class="twitter">
                         <a href="https://www.twitter.com" class="tw-button"></a> 
                     </div>
                     <div class="facebook">
                         <a href="https://www.facebook.com" class="fb-button"></a>
                     </div>
                     <div class="instagram">
                      <a href="https://www.instagram.com" class="in-button"></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{%- endif %}