<nav class="navbar bottom navbar-light bg-light">
{%- if site.show-style-guide %}

        <div class="kleurvlak">
    <div class="row">
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Soccer Shoe Rent</h2>
            <a href="#" class="text">Verkoopsvoorwaarden</a>
            <br>
            <a href="https://www.arteveldehogeschool.be/disclaimer" class="text">Disclaimer</a>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Mapsite</h2>
            <ul class="list-unstyled">
                <a href="./index.html" class="text">Home</a>
            <br>
                <a href="./product.html" class="text">Product</a>
            <br>
                <a href="./overons.html" class="text">Over ons</a>
            <br>
                <a href="./contact.html" class="text">Contact</a>
            </ul>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Contact</h2>
            <p>
                <a href="tel: 0494897658" class="text"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>0494 89 76 58</a>
            </p>
            <p>
                <a href="mailto:info@soccershoerent.com" class="text"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@soccershoerent.com</a>
            </p>
            <p>
                <a href="https://www.google.it/maps/place/Spiegelhofstraat,+9000+Gent/@51.0532145,3.7012822,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3716de039bb69:0xf685d61aac77b635!8m2!3d51.0532111!4d3.7034709?hl=it" class="text" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Spiegelhofstraat 42, Gent</a>
            </p>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4 text-light">Volg ons</h2>

            <a href="https://twitter.com/?lang=nl" target="_blank">
                <div class="col-md-2 col-xs-2">
                    <div>
                    <img class="socialmedia" src="{{ site.baseurl }}/images/twitter.png" alt="Koopknop">
                </div>
        
                </div>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <div class="col-md-2 col-xs-2">
                    <div>
                    <img class="socialmedia" src="{{ site.baseurl }}/images/facebook.png" alt="Koopknop">
                </div>
        
                </div>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <div class="col-md-2 col-xs-2">
                    <div>
                    <img class="socialmedia" src="{{ site.baseurl }}/images/instagram.png" alt="Koopknop">
                </div>
        
                </div>
            </a>


        </div>
    </div>


{%- endif %}
</nav>
