.background{
    overflow-x: hidden;
    background-image: url(../../images/achtergrond_desktop.jpg);
    background-position: center center;
  
    background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;

}

.img {
    margin-right: -15px; // Remove right gap
    margin-left: -15px;  // Remove left gap
    padding-bottom: 62.5%; // ratio is 16:10
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.achtergrond {
width: 100%;
position: absolute;
z-index: -999;
}

.fotohome {
    border-top: 7px solid #F1B31C;
    border-bottom: 7px solid #F1B31C;
}

p.verhaal {
    line-height: 160%;
}

#standaardlijn {
    background-color: #F1B31C;
    width: 80px;
    border-width: 4px;
}

#ronaldo {
    background-color: #F1B31C;
    width: 350px;
    border-width: 4px;
}

.radio {
    cursor: pointer;
}

input[type=radio] {
   margin-right: 20px;
}

.titels {
    margin-top: 50px;
}

.btn {
    background-color: #F1B31C;
    border-radius: 0;
    border: none;
    margin: 15px;
    font-family: "lato";
    color: black;
}

h4.quote {
    color:#F1B31C;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}

.proces {
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
}

.btn:hover { 
    background-color: #163139;
}

p {
    font-family: lato;
}

h2 {
    font-family: lato;
    font-weight: bold;
}

h3 {
    font-family: lato;
    color: #F1B31C;
}

h4 {
    font-family: lato;
}

h5 {
    font-family: lato;
    font-weight: bold;   
}

.tekstproduct {
    float: right;
    margin-top: -250px;
}

.beschrijvingschoen {
    display: inline-block;
}

.container {
  margin-top: 20px;  
  font-family: "Lato"; 
  line-height: 160%; 
}

.form-control{
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    font-family: lato;
}

.form-control-1{
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    font-family: lato;   
}

.form-group-g {
    margin-bottom: 50px; 
}

#exampleInputEmail1 placeholder {
    font-family: "Lato"; 
}

.siemen img {
    border-radius: 50%;
    border: 7px solid #F1B31C; 
}

.tekstoverons {
    margin-top: 50px;
}

.brent img {
    border-radius: 50%;
    border: 7px solid #F1B31C;   
}

.ondergrond {
    border-top: 5px solid #F1B31C ;
    border-bottom: 5px solid #F1B31C;
    margin-top: 15px;
}

.beschikbaar {
    color: #F1B31C;
}

.prijs {
    font-family: lato;
    font-size: 70px;
    font-weight: bold;
    margin-top: 40px;
}

.table {
    margin-top: 40px;
}

.table th {
  padding: 7px 80px;
}

.table td {
    padding: 7px 80px;
}

.titelprijs {
    float: right;
    margin-top: -200px;
    margin-right: 200px;
}

.overproduct {
    margin-top: 150px;
}

.gaverder {
    margin-left: 115px;
}

.cristianoenschoen {
    margin-left: 150px;
    margin-top: -550px;
    width: 30%;
}

.cr7schoen {
    margin-left: 568px;
    margin-top: -312px;
}

.slogan {
    color:#F1B31C;
    font-family: lato;
    font-weight: bold;
    margin-left: 600px;
    margin-top: 10px;
}

.homelaatste {
  margin-left: 670px;
  margin-top: -20px;
}

.knopgaterug {
    margin-left: 70px;
}

.knopafronden {
    margin-left: 200px;
    margin-top: -65px;
}

.knopverzenden {
    margin-left: 70px;
}

#date {
    border: 2px solid #F1B31C;
    font-family: lato;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 6px;
}

.checkoutw {
    margin-left: 30px;
}