.achtergrond img {
width: 100%;
position: absolute;
z-index: -999;
}

.overons {
    text-align: center;
}

.home_foto {
    border-top: 7px solid #F1B31C;
    border-bottom: 7px solid #F1B31C;
}

.btn {
    background-color: #F1B31C;
    border-radius: 0;
    border: none;
    margin: 15px;
    font-family: "lato";
    color: black;
}

p {
    line-height: 200%;
    margin-top: 15px;
}


.container p {
    font-family: "Lato";    
    margin-left: -70px;
}

.container {
    margin-left: 170px;
}

.container h2 {
    font-family: "Lato";    
    font-weight: bold;
    margin-left: -70px;
}

.tekstproduct {
    float: right;
    margin-top: -250px;
}

.beschrijvingschoen {
    width: 600px;
    display: inline-block;
}

.lijn {
    border-top: 5px solid #F1B31C;
    width: 90px;
    margin-top: 15px;
    margin-left: -70px;
    
}

.lijnoverons {
    border-top: 5px solid #F1B31C;
    width: 90px;
    margin-left: 50%;
    padding: 20px;
}

.container {
  margin-top: 20px;  
}

.form-control{
    width: 50%;
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    font-family: lato;
    margin: -10px 0px -10px 0px;
}

.form-control-1{
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    font-family: lato;
    margin: -10px 0px -10px 0px;
     
}

.form-group-g {
    margin-bottom: 50px; 
}

.btn-primary {
    margin-left: -70px;
}

#exampleInputEmail1 placeholder {
    font-family: "Lato"; 
}

.siemen img {
    border-radius: 50%;
    border: 7px solid #F1B31C;
    
}

.brent img {
    border-radius: 50%;
    border: 7px solid #F1B31C;
    
}

.tekst_overons {
    width: 300px;
    margin-left: 50%;
}

.vrijgestelde_foto {
    margin-left: 70%;
}

.langelijn {
    border-top: 5px solid #F1B31C;
    width: 250px;
    margin-left: 77%;
    margin-top: 10px;
}

.quote {
    color: #F1B31C;
    font-style: italic;
    font-family: lato;
    margin-left: 74%;
    margin-top: 10px;
}

.bijschrift_quote {
    font-family: lato;
    margin-left: 82%;
    margin-top: -7px;
}

.tekst_overons {
    font-family: lato;
    
}

.ondergrond {
    border-top: 5px solid #F1B31C;
    border-bottom: 5px solid #F1B31C;
    width: 550px;
    margin-left: 300px;
    margin-top: -95px;
}

p.opsommingen {
    margin-left: 30px;
}

.prijs {
    font-family: lato;
    font-size: 70px;
    margin-left: -70px;
    font-weight: bold;
}


.tabel td {
    width: 200px;
    padding: 100px;
}

.tabel tr {
    border: 1px solid #000000;
    font-family: lato;
}


.tabel th {
  padding: 3px 50px;
}

.tabel td {
    padding: 3px 50px;

  }

.titelprijs {
    float: right;
    margin-top: -200px;
    margin-right: 200px;
}

.overproduct {
    margin-top: 150px;
}

.gaverder {
    margin-left: 115px;
}

.cristianoenschoen {
    margin-left: 150px;
    margin-top: -550px;
    width: 30%;
}

.cr7schoen {
    margin-left: 568px;
    margin-top: -312px;
}

.slogan {
    color:#F1B31C;
    font-family: lato;
    font-weight: bold;
    margin-left: 600px;
    margin-top: 10px;
}

.homelaatste {
  margin-left: 670px;
  margin-top: -20px;
}

.knopgaterug {
    margin-left: 70px;
}

.knopafronden {
    margin-left: 200px;
    margin-top: -65px;
}

.knopverzenden {
    margin-left: 70px;
}

.knopterug {
   margin-left: 130px; 
   margin-top: -65px;
}
