

.kleurvlak{
    background-color: #F1B31C;
    width: 100vw;
    margin-top: -20px;
}

.text {
    color: black;
}

.socialmedia {
    height: 25px;
    margin-top: 7px;
}

.navbar {
    font-family: lato;
}

.text-footer {
    margin-top: 20px;
}