.collapse {
    font-family: "lato";
    margin-left: 100px; 
}

#priceicon {
    margin-top: 15px;
    float: left;
    margin-left: -12px;
    height: 20px;
    width: 20px;
    background: url(icons/sprite.png) -342px -261px;
}

#navbarSupportedContent {
    font-family: lato;
    font-weight: bold;
    font-size: 110%;
}

.hamburger {
    margin-left: 70px;
}

.img-logo {
    height: 90px;
}

.shopping {
    margin-right: 200px;
}

.shopping a{
    display: inline-block;
    width: 30px;
    height: 40px;
    background-image: url(sprites.png);
    background-size: 110px auto;
    text-indent: -9999px;
}

.shop-button {
    background-position: 70px 40px;
}

.shop-button:hover {
    background-position: 114px 40px;
}

.shop-button:active {
    background-position: 70px 40px;
}

