.collapse {
    font-family: "lato";
    margin-left: 100px; 

}

#priceicon {
    margin-top: 15px;
    float: left;
    margin-left: -12px;
    height: 20px;
    width: 20px;
    background: url(icons/sprite.png) -342px -261px;
}

#navbarSupportedContent {
    font-family: lato;
    font-weight: bold;
    font-size: 110%;
}

.shop {
    height: 20px;
    margin-left: -150px;
}

.img-logo {
    height: 90px;
}